@import '~src/less/definitions';

.login {
    .error {
        padding: @spacing-y @spacing-x;
        border: @border;
        background: @color-bg-error;
        color: @color-text-bg-error;
    }
}

