@import '~src/less/definitions';
@import '~vendor/lato/lato';

a {
    color: @color-primary;
    text-decoration: none;
    &:hover, &:active {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1, h2 {
    padding-left: @spacing-x;
    border-left: @border-primary;
}

h3, h4, h5, h6 {
    margin: @spacing-y 0;
}

p {
    margin: @spacing-y 0;
}

form {
    display: flex;
    flex-flow: column nowrap;

    padding: @spacing-y @spacing-x;
    border: @border;

    > *:not(:last-child) {
        margin-block-end: @spacing-y;
    }

    input[type=text], input[type=username], input[type=password] {
        padding: @spacing-y @spacing-x;
        background: none;
        border: none;
        border-bottom: @border;
        transition: border @duration-transition;

        &:focus {
            border-bottom: @border-primary;
            border-bottom-width: 1px;
        }
    }

    select {
        background: none;
        border: none;
        border-bottom: @border;
        transition: border @duration-transition;

        &:focus {
            border-bottom: @border-primary;
            border-bottom-width: 1px;
        }
    }

    button, input[type=submit] {
        background: @color-bg-card;
        color: @color-text;
        border: @border;
        transition: all @duration-transition;
        line-height: @line-height;

        &:hover {
            background: @color-bg-hover;
            color: @color-text-bg-hover;
        }

        &:focus, &:active {
            background: @color-bg-active;
            color: @color-text-bg-active;
        }
    }

    input, button {
        &:disabled {
            &, &:hover, &:focus, &:active {
                background: @color-bg-disabled;
                color: @color-text-bg-disabled;
            }
        }
    }

    fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }
}

:global(#app) {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: @font-size;
    line-height: @line-height;

    background-color: @color-bg;
    color: @color-text;

    > * {
        flex: 1;
        display: inherit;
        flex-flow: column nowrap;
    }

    .container {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;

        width: 100%;
        max-width: @width-container-max;

        margin: (@height-header + 2 * @spacing-y) auto @spacing-y;
        padding: 0 @spacing-x;
        box-sizing: border-box;
    }
}

