@import '~src/less/definitions';

.users {
    display: flex;
    flex-flow: column nowrap;

    section {
        margin-block-end: @spacing-y;
    }

    .create {
        .password {
            display: flex;
            flex-flow: row wrap;

            input[type=text], input[type=password] {
                flex: 1;
            }

            .media-screen-sm({
                flex-flow: column nowrap;

                > * {
                    display: flex;
                    justify-content: center;
                }
            });
        }
    }

    .list {
        display: flex;
        flex-flow: column nowrap;

        > * {
            margin-block-end: @spacing-y;
        }
    }
}

