@import '~src/less/definitions';

.users {
    display: flex;
    flex-flow: column nowrap;

    section {
        margin-block-end: @spacing-y;
    }

    .create {
        fieldset {
            display: flex;
            flex-flow: row wrap;

            .media-screen-sm({
                flex-flow: column nowrap;

                > * {
                    display: flex;
                    justify-content: center;
                }
            });

            > select, input[type=text], > input[type=password] {
                flex: 1;
            }

            > input[type=submit], > button[type=submit] {
                flex: 0.5;
            }
        }
    }

    .list {
        display: flex;
        flex-flow: column nowrap;

        > * {
            margin-block-end: @spacing-y;
        }
    }
}

